GitPython==3.1.47
PyPika==0.51.1
PyQt6==6.7.1
PyQt6_sip==13.9.1
QtPy==2.4.1
Send2Trash==1.8.2
anaconda-anon-usage==0.7.1
bleach==6.2.0
bs4==0.0.2
chromadb==1.4.1
conda-anaconda-telemetry==0.2.0
conda-anaconda-tos==0.2.1
conda-content-trust==0.2.0
conda-libmamba-solver==25.4.0
conda_package_streaming==0.12.0
docarray==0.41.0
dotenv==0.9.9
et_xmlfile==2.0.0
faiss-cpu==1.9.0.post1
google==3.0.0
huggingface_hub==1.4.1
importlib_resources==6.5.2
ipython_pygments_lexers==1.1.1
jupyter==1.1.1
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
langchain-pinecone==0.2.13
libmambapy==2.0.5
mdurl==0.1.0
mypy_extensions==1.1.0
neo4j==5.20.0
nest_asyncio==1.6.0
notebook_shim==0.2.4
pinecone==7.3.0
pip-chill==1.0.5
pipreqs==0.4.13
prometheus_client==0.21.1
pydantic_core==2.41.5
pypdf==6.6.0
qtconsole==5.6.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
ruamel.yaml==0.18.10
scikit-learn==1.8.0
sip==6.10.0
stack-data==0.2.0
streamlit==1.35.0
uuid_utils==0.14.0
uvicorn==0.40.0
widgetsnbextension==4.0.13
